/* Define standard variables and values for website */
$bgcolor: rgb(17, 139, 180);
$textcolor: rgb(0, 0, 0);
$fontsize: 16px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
