html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    gap: 42px;
    background-color: rgb(26, 25, 25);
}

.box {
    box-shadow: rebeccapurple 0px 10px 20px;
    padding 2rem;
    border-radius: 2rem;
    background: white;
    height: 10em;
    width: 10em;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow: auto;
    resize: both;
}


h2 {
  writing-mode: vertical-lr;
}
.container {
    display: flex;
    overflow-x: scroll;
    height: 20rem;
    width: 20rem;
    scroll-snap-type: x proximity;
}
.container div {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}
